{% extends "layout.twig" %}
{% block body %}
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <form class="form-signin" method="POST" action="{{ full_url_for('auth.edit') }}">
            <h1 class="h3 mb-3 font-weight-normal text-center">Редактировать профиль</h1>
            <div class="form-group">
              <label for="inputName" class="sr-only">Имя</label>
              <input type="text" id="inputName" class="form-control {% if error.name %} is-invalid {% endif %}" placeholder="Имя" name="name" value="{{ name }}">
              {% if error.name %}
                <div class="text-danger">
                  {{ error.name }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" id="inputEmail" class="form-control {% if error.email %} is-invalid {% endif %}" placeholder="Email" name="email" value="{{ email }}">
              {% if error.email %}
                <div class="text-danger">
                  {{ error.email }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputTelephone" class="sr-only">Телефон</label>
              <input type="text" id="inputTelephone" class="form-control {% if error.telephone %} is-invalid {% endif %}" placeholder="Телефон" name="telephone" value="{{ telephone }}">
              {% if error.telephone %}
                <div class="text-danger">
                  {{ error.telephone }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputPassword" class="sr-only">Пароль</label>
              <input type="password" id="inputPassword" class="form-control {% if error.password %} is-invalid {% endif %}" placeholder="Пароль" name="password" value="{{ password }}">
              {% if error.password %}
                <div class="invalid-feedback">{{ error.password }}</div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputConfirm" class="sr-only">Подтвердите пароль</label>
              <input type="password" id="inputConfirm" class="form-control {% if error.confirm %} is-invalid {% endif %}" placeholder="Подтвердите пароль" name="confirm" value="{{ confirm }}">
              {% if error.confirm %}
                <div class="invalid-feedback">{{ error.confirm }}</div>
              {% endif %}
            </div>

            {% if is_telegram %}
              <a href="{{ full_url_for('auth.telegram.disconnect') }}" class="btn btn-lg btn-danger btn-block mb-2">Отвязать Telegram</a>
            {% else %}
              <a href="{{ full_url_for('auth.telegram') }}" class="btn btn-lg btn-primary btn-block mb-2" target="_blank">Привязать Telegram</a>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}