{% extends "layout.twig" %}

{% block body %}
    <main class="row justify-content-center">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-md-4 order-md-2 mb-4">
                    <h2>Вы успешно подтвердили свой Email!</h2>
                    <p><a href="{{ full_url_for('home') }}" class="btn btn-success">Вернуться на главную</a></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}