{% extends "layout.twig" %}
{% block body %}   
<main>
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">История транзакций</span>
          <span class="badge badge-secondary badge-pill">{{ auth_balance }} грн.</span>
        </h4>
        <div class="list-group mb-3">
          {% for transaction in transactions %}
          <a href="{{ full_url_for('transaction.info', {'id':transaction.id}) }}" class="list-group-item  list-group-item-action
            {% if transaction.status == 0 %}
              list-group-item-warning
            {% elseif transaction.status == 2 or transaction.status == 3 %}
              list-group-item-danger 
            {% endif %} 
              d-flex justify-content-between lh-condensed">
            <div>
              {% if transaction.order.exists() %}
              <h6 class="my-0">Операция по заказу #{{ transaction.order.id }}</h6>
              {% else %}
              {% if transaction.value > 0 %}
              <h6 class="my-0">Пополнение баланса</h6>
              {% elseif transaction.value < 0 %}
              <h6 class="my-0">Списание баланса</h6>
              {% endif %}
              {% endif %}
              <small class="text-muted">{{ transaction.created_at }}</small>
              {% if transaction.creator != transaction.user %}
              <p class="mb-0"><small><strong>Создал: {{ transaction.creator.name }}</strong></small></p>
              {% endif %}
            </div>
            <div class="d-flex justify-content-center align-items-center">
              {% if transaction.value < 0 %}
              <span class="badge badge-danger badge-pill">{{ transaction.value }} грн.</span>
              {% elseif transaction.value > 0 %}
              <span class="badge badge-success badge-pill">{{ transaction.value }} грн.</span>
              {% endif %}
            </div>
          </a>
          {% endfor %}
        </div>
        {{ transactions.links | raw }}
        <form class="card p-2" action="{{ full_url_for('transaction.create') }}" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Сумма" name="value">
            <div class="input-group-append">
              <button type="submit" class="btn btn-success btn-block"><i class="fa fa-plus" aria-hidden="true"></i> Пополнить</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Информация профиля</h4>
          <div class="row">
            <div class="col-md-6 mb-3">
              <p>Имя</p>
              <p>{{ name }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <p>Телефон</p>
              <p>{{ telephone }}</p>
            </div>
          </div>
          <div class="mb-4">
            <p>Email</p>
            <p>{{ email }}</p>
          </div>
          {% if telegram %}
          <div class="mb-3">
            <p>Telegram</p>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">{{ telegram }}</span>
              </div>
            </div>
          </div>
          {% endif %}
          <a class="btn btn-primary btn-lg btn-block" href="{{ full_url_for('auth.edit') }}">Редактировать профиль</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}