{% extends "layout.twig" %}
{% block body %}   
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <form class="form-signin" method="POST" action="{{ full_url_for('auth.login') }}" style="max-width: 304px;" >
            <h1 class="h3 mb-3 font-weight-normal">Пожалуйста войдите в аккаунт</h1>
            {% if error.login %}
              <div class="alert alert-danger">
                {{ error.login }}
              </div>
            {% endif %}
            <label for="inputEmail" class="sr-only">Email</label><input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" value="{{ email }}">
            <label for="inputPassword" class="sr-only">Пароль</label><input type="password" id="inputPassword" class="form-control" placeholder="Пароль" name="password" value="{{ password }}">
            {% if recaptcha_public %}
              <div class="form-group">
                <label for="inputConfirm" class="sr-only">Капча</label>
                <div class="g-recaptcha"></div>
                {% if error.captcha %}
                  <div class="text-danger">
                    {{ error.captcha }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</main>

  {% if recaptcha_public %}
    <script type="text/javascript">
      var onloadGoogleRecaptchaCallback = function() {
        grecaptcha.render($('.g-recaptcha').get(0), {
          'sitekey' : '{{ recaptcha_public }}',
        });
      };
    </script>
  {% endif %}
{% endblock %}