{% extends "layout.twig" %}
{% block body %}  
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <form class="form-signin" method="POST" action="{{ full_url_for('auth.register') }}">
            <h1 class="h3 mb-3 font-weight-normal">Зарегистрироваться</h1>
            <div class="form-group">
              <label for="inputName" class="sr-only">Имя</label>
              <input type="text" id="inputName" class="form-control" placeholder="Имя" name="name" value="{{ name }}">
              {% if error.name %}
                <div class="text-danger">
                  {{ error.name }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" value="{{ email }}">
              {% if error.email %}
                <div class="text-danger">
                  {{ error.email }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputTelephone" class="sr-only">Телефон</label>
              <input type="text" id="inputTelephone" class="form-control" placeholder="Телефон" name="telephone" value="{{ telephone }}">
              {% if error.telephone %}
                <div class="text-danger">
                  {{ error.telephone }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputPassword" class="sr-only">Пароль</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" name="password" value="{{ password }}">
              {% if error.password %}
                <div class="text-danger">
                  {{ error.password }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputConfirm" class="sr-only">Подтвердите пароль</label>
              <input type="password" id="inputConfirm" class="form-control" placeholder="Подтвердите пароль" name="confirm" value="{{ confirm }}">
              {% if error.confirm %}
                <div class="text-danger">
                  {{ error.confirm }}
                </div>
              {% endif %}
            </div>
            {% if recaptcha_public %}
              <div class="form-group">
                <label for="inputConfirm" class="sr-only">Капча</label>
                <div class="g-recaptcha"></div>
                {% if error.captcha %}
                  <div class="text-danger">
                    {{ error.captcha }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
          </form>
          {% if recaptcha_public %}
            <script type="text/javascript">
              var onloadGoogleRecaptchaCallback = function() {
                grecaptcha.render($('.g-recaptcha').get(0), {
                  'sitekey' : '{{ recaptcha_public }}',
                });
              };
            </script>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}