{% extends "layout.twig" %}

{% block body %}
    <main class="row justify-content-center">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-md-4 order-md-2 mb-4">
                    <p>Регистрация почти закончилась. Что бы завершить регистрацию, пожалуйста, проверьте почтовый ящик</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}