{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>Подтвердите оплату</h2>
      <div class="card mb-3">
        <div class="card-body">
          На сумму {{ total }} на баланс пользователя {{ user }}
        </div>
      </div>
      <blockquote>
      	{{ description }}
      </blockquote>

      <form method="POST" action="{{ action }}" id="liqpay_checkout" accept-charset="utf-8">
		    <input type="hidden" name="data"  value="{{ liqpay_data }}" />
		    <input type="hidden" name="signature" value="{{ liqpay_signature }}" />
		    <div class="buttons">
		        <div class="right">
		            <button type="submit" id="button-confirm" class="btn btn-primary " >Перейти к оплате</button>
		        </div>
		    </div>
	  </form>
    </div>
  </div>
</main>
{% endblock %}