{% extends "layout.twig" %}
{% block body %}   
<main class="">
  <div class="container pt-4">
    <h1 class="h3 mb-3 col-12 font-weight-normal text-center">Информация по платежу</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card mb-5">
          <table class="table">
            <tbody>
              <tr>
                <td>Статус:</td>
                <td>
                  {% if status == 0 %}
                    В ожидании
                  {% elseif status == 1 %} 
                    Успешно
                  {% elseif status == 2 %}
                    Ошибка платежа
                  {% elseif status == 3 %}
                    Заказ был отменен
                  {% endif %} 
                </td>
              </tr>
              <tr>
                <td>Размер:</td>
                <td>{{ value }}</td>
              </tr>
              <tr>
                <td>Дата создания:</td>
                <td>{{ created_at }}</td>
              </tr>
              <tr>
                <td>Дата изменения:</td>
                <td>{{ updated_at }}</td>
              </tr>
            </tbody>
          </table>
          <div class="card-footer">
            {% if value > 0 and status == 0 %}
            <a class="btn btn-lg btn-primary btn-block" href="{{ full_url_for('transaction.check', {'id':id}) }}">Проверить статус</a>
            {% endif %}
          </div>
        </div>
        {% if order_id %}
        <div class="card">
          <div class="card-header">Информация по заказу</div>
          <table class="table">
            <tbody>
              <tr>
                <td>Номер заказа:</td>
                <td>#{{ order_id }}</td>
              </tr>
              <tr>
                <td>VIN:</td>
                <td>{{ order_vin }}</td>
              </tr>
              <tr>
                <td>Статус:</td>
                <td>{{ order_status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}