<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>{% block title %}get vin{% endblock %}</title>
	    <base href="{{ base_url() }}/" />

	    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/album/">

	    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" crossorigin="anonymous" />
		<!-- Custom CSS -->
		<link rel="stylesheet" href="assets/common.css">

	    <!-- Favicons -->
		<meta name="theme-color" content="#563d7c">
	</head>
	<body class="bg-light">
	  	<header>
		  <nav class="navbar navbar-expand-md navbar-dark d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 fixed-top bg-dark">
		    <a class="navbar-brand" href="{{ full_url_for('home') }}">{{ get_env('APP_NAME') }}</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarCollapse">
		      <ul class="navbar-nav mr-auto">
		        {% if is_logged %}
				<li class="nav-item">
					<a class="nav-link" href="{{ full_url_for('order.list') }}">Заказы</a>
				</li>
					{% if is_admin %}
						<li class="nav-item">
							<a class="nav-link" href="{{ full_url_for('page.list') }}">Страницы</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ full_url_for('statistics') }}">Статистика</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ full_url_for('user.list') }}">Пользователи</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ full_url_for('group.list') }}">Группы</a>
						</li>
					{% endif %}
		        {% endif %}
		      </ul>
		      <form class="form-inline my-2 my-lg-0">
		      {% if not is_logged %}
		      	<div class="input-group">
			      <div class="input-group-prepend">
			      	<a class="btn btn-light" href="{{ full_url_for('auth.login') }}"><span><i class="fa fa-sign-in" aria-hidden="true"></i> Вход</span></a>
			      </div>
			      <div class="input-group-append">
		      		<a class="btn btn-outline-light" href="{{ full_url_for('auth.register') }}"><span><i class="fa fa-user-plus" aria-hidden="true"></i> Регистрация</span></a>
			      </div>
			    </div>
		  	  {% else %}
		  	  	<div class="input-group">
			      <div class="input-group-prepend">
			      	<span class="input-group-text"><span><i class="fa fa-tasks" aria-hidden="true"></i> {{ auth_quota }}</span></span>
			      	<span class="input-group-text"><span><i class="fa fa-credit-card" aria-hidden="true"></i> {{ auth_balance }}</span></span>
			      </div>
			      <div class="input-group-append">
			      	<a class="btn btn-secondary" href="{{ full_url_for('auth.info') }}"><i class="fa fa-user" aria-hidden="true"></i></a>
			      	<a class="btn btn-primary" href="{{ full_url_for('auth.edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
			        <a class="btn btn-danger" href="{{ full_url_for('auth.logout') }}"><span><i class="fa fa-sign-out" aria-hidden="true"></i> Выход</span></a>
			      </div>
			    </div>
		      {% endif %}
		      </form>
		    </div>
		  </nav>
		</header>
		{% block body %}{% endblock %}
		<footer class="footer mt-auto py-3 page-footer font-small bg-dark">
			<div class="container-fluid text-center text-md-left">
				<div class="row">
					<div class="col-md-3 mb-md-0 mb-3 offset-md-9">
						<ul class="list-unstyled navbar-dark">
							<li class="navbar-nav">
								<a href="{{ terms_link }}" class="nav-link">Пользовательское соглашение</a>
							</li>
							<li class="navbar-nav">
								<a href="{{ condition_link }}" class="nav-link">Условия возврата</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
		{% if recaptcha_public %}
		<script src='https://www.google.com/recaptcha/api.js?onload=onloadGoogleRecaptchaCallback&render=explicit'></script>
		{% endif %}
		<script src="//cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
		<script src="/assets/main.js"></script>
	</body>
</html>