{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Not found</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}