{% if paginator.hasPages() %}
    <nav>
        <ul class="pagination">
            {% if paginator.onFirstPage() %}
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link" aria-hidden="true">&lsaquo;</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.previousPageUrl() }}" rel="prev">&lsaquo;</a>
                </li>
            {% endif %}

            {% for element in elements %}
                {% for page,url in element %}
                    {% if page == paginator.currentPage() %}
                        <li class="page-item active" aria-current="page"><span class="page-link">{{ page }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if paginator.hasMorePages() %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.nextPageUrl() }}" rel="next">&rsaquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link" aria-hidden="true">&rsaquo;</span>
                </li>
            {% endif %}
        </ul>
{% endif %}