{% extends "layout.twig" %}
{% block body %}
  <main>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <form method="POST" action="{{ full_url_for('user.add') }}">
              <h1 class="h3 mb-3 font-weight-normal">Добавить пользователя</h1>
              <div class="form-group">
                <label for="inputName" class="sr-only">Имя</label>
                <input type="text" id="inputName" class="form-control {% if error.name %} is-invalid {% endif %}" placeholder="Имя" name="name" value="{{ name }}">
                {% if error.name %}
                  <div class="text-danger">
                    {{ error.name }}
                  </div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" class="form-control {% if error.email %} is-invalid {% endif %}" placeholder="Email" name="email" value="{{ email }}">
                {% if error.email %}
                  <div class="text-danger">
                    {{ error.email }}
                  </div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" id="inputPassword" class="form-control {% if error.password %} is-invalid {% endif %}" placeholder="Пароль" name="password" value="{{ password }}">
                {% if error.password %}
                  <div class="text-danger">
                    {{ error.password }}
                  </div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="inputConfirm" class="sr-only">Подтвердить</label>
                <input type="password" id="inputConfirm" class="form-control {% if error.confirm %} is-invalid {% endif %}" placeholder="Подтвердить" name="confirm" value="{{ confirm }}">
                {% if error.confirm %}
                  <div class="text-danger">
                    {{ error.confirm }}
                  </div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="selectGroup" class="sr-only">Группа пользователей</label>
                <select id="selectGroup" class="form-control {% if error.group %} is-invalid {% endif %}" name="group_id">
                  {% for group in groups %}
                    {% if group_id == group.id %}
                      <option value="{{ group.id }}" selected>{{ group.name }}</option>
                    {% else %}
                      <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                {% if error.group %}
                  <div class="text-danger">
                    {{ error.group }}
                  </div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="inputBalance" class="sr-only">Изменить баланс</label>
                <input type="text" id="inputBalance" class="form-control {% if error.balance %} is-invalid {% endif %}" placeholder="Balance" name="balance" value="{{ balance }}">
                {% if error.balance %}
                  <div class="text-danger">
                    {{ error.balance }}
                  </div>
                {% endif %}
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</main>
{% endblock %}