{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>Список пользователей</h2>
      <div class="row justify-content-center">
        <div class="table-responsive mb-4">
          <table class="table">
            <thead>
              <tr>
                <td>#</td>
                <td>Имя</td>
                <td>Email</td>
                <td>Группа</td>
                <td>Баланс</td>
                <td>Заказов</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.group.name }}</td>
                <td>{{ user.balance }}</td>
                <td>{{ user.orders.count }}</td>
                <td class="text-right">
                  <a class="btn btn-outline-primary" href="{{ full_url_for('user.info', {'id':user.id}) }}"><i class="fa fa-info" aria-hidden="true"></i></a>
                  <a class="btn btn-primary" href="{{ full_url_for('user.edit', {'id':user.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                  <a class="btn btn-danger" href="{{ full_url_for('user.delete', {'id':user.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ users.links | raw }}
        </div>
        <a class="btn btn-success btn-block" href="{{ full_url_for('user.add') }}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}