{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>Статистика</h2>
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="selectGroup">Фильтровать по группе</label>
                <select id="selectGroup" name="group_id" class="form-control form-control-sm" onchange="location = this.value;">
                  <option value="{{ full_url_for('statistics') }}">Не выбрано</option>
                  {% for group in groups %}
                    {% if group_id == group.id %}
                    <option value="{{ full_url_for('statistics', [], {'group_id':group.id}) }}" selected>{{ group.name }}</option>
                    {% else %}
                    <option value="{{ full_url_for('statistics', [], {'group_id':group.id}) }}">{{ group.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="selectUser">Фильтровать по пользователю</label>
                <select id="selectUser" name="user_id" class="form-control form-control-sm" onchange="location = this.value;">
                  <option value="{{ full_url_for('statistics') }}">Не выбрано</option>
                  {% for user in users %}
                    {% if user_id == user.id %}
                    <option value="{{ full_url_for('statistics', [], {'user_id':user.id}) }}" selected>{{ user.name }}</option>
                    {% else %}
                    <option value="{{ full_url_for('statistics', [], {'user_id':user.id}) }}">{{ user.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Фильтровать по датам</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">От</span>
                  </div>
                  <input type="date" class="form-control" id="dateFrom" name="dateFrom" placeholder="От даты" value="{{ dateFrom }}">
                  <span class="input-group-text"> До </span>
                  <input type="date" class="form-control" id="dateTo" name="dateTo" placeholder="До даты" value="{{ dateTo }}">
                  <div class="input-group-append" style="z-index: 0">
                    <button class="btn btn-outline-primary" type="button" id="statistic-search-dates">Искать</button>
                  </div>
                </div>
              </div>
              <a href="{{ full_url_for('statistics') }}" class="btn btn-primary">Показать все</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Значение</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Количество всего</td>
                <td>{{ count }}</td>
              </tr>
              <tr>
                <td>Количество бесплатных</td>
                <td>{{ count_free }}</td>
              </tr>
              <tr>
                <td>Количество платных</td>
                <td>{{ count_paid }}</td>
              </tr>
              <tr>
                <td>Получено оплат всего</td>
                <td>{{ total }}</td>
              </tr>
              <tr>
                <td>На балансе деняг не использованных</td>
                <td>{{ unused }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}