{% extends "layout.twig" %}
{% block body %}   
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <form class="form-signin" method="POST" action="{{ full_url_for('group.edit', {'id':id}) }}">
            <h1 class="h3 mb-3 font-weight-normal">Редактировать группу</h1>
            <div class="form-group">
              <label for="inputName" class="sr-only">Название</label>
              <input type="text" id="inputName" class="form-control" placeholder="Название" name="name" value="{{ name }}">
              {% if error.name %}
                <div class="text-danger">
                  {{ error.name }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputPrice" class="sr-only">Стоимость для участников</label>
              <input type="text" id="inputPrice" class="form-control" placeholder="Стоимость для участников" name="price" value="{{ price }}">
              {% if error.price %}
                <div class="text-danger">
                  {{ error.price }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="inputMonthQuota" class="sr-only">Месячная квота</label>
              <input type="text" id="inputMonthQuota" class="form-control" placeholder="Месячная квота" name="month" value="{{ month }}">
            </div>
            <div class="form-group">
              <label for="inputPrice" class="sr-only">Дневная квота</label>
              <input type="text" id="inputDayQuota" class="form-control" placeholder="Дневная квота" name="day" value="{{ day }}">
              {% if error.day %}
                <div class="text-danger">
                  {{ error.day }}
                </div>
              {% endif %}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}