{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>Список групп</h2>
      <div class="row justify-content-center">
        {% if flashMessages|length > 0 %}
          {% for key, messagesList in flashMessages %}
            {% for message in messagesList %}
              <div class="alert alert-{{ key }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endfor %}
        {% endif %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td>#</td>
                <td>Название</td>
                <td>Лимит в месяц</td>
                <td>Лимит в день</td>
                <td>Стоимость</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for group in groups %}
              <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.month }}</td>
                <td>{{ group.day }}</td>
                <td>{{ group.price ? group.price : 'Free' }}</td>
                <td class="text-right">
                  <a class="btn btn-primary" href="{{ full_url_for('group.edit', {'id':group.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                  <a class="btn btn-danger" href="{{ full_url_for('group.delete', {'id':group.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ group.links | raw }}
        </div>
        <a class="btn btn-success btn-block" href="{{ full_url_for('group.add') }}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}