{% extends "mail-layout.twig" %}

{% block title %}Вы успешно зарегистрировались на сайте <a href="{{ base_url() }}">{{ siteName }}</a> {% endblock %}

{% block content %}
    <p>Для завершения регистрации, пожалуйсте, перейдите по ссылке: <a href="{{ base_url() }}{{ tokenUrl }}">{{ base_url() }}{{ tokenUrl }}</a></p>
{% endblock %}