{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          {% if auth_price %}
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Cтоимость отчета для вас: {{ auth_price }}</p>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Доступно бесплатных отчетов: {{ auth_quota }}</p>
            </div>
          </div>
          {% endif %}
          
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Заказать отчет</p>
              <form method="POST" action="{{ full_url_for('order.create') }}">
                <div class="form-group">
                  <label for="inputVin">VIN</label>
                  <input type="text" class="form-control" id="inputVin" name="vin" placeholder="VIN" value="{{ vin }}">
                  {% if error.vin %}
                  <div class="text-danger">
                    {{ error.vin }}
                  </div>
                  {% endif %}
                </div>
                {% if auth_quota %}
                <button type="submit" class="btn btn-success">Получить бесплатно</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Купить</button>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}