{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>Order # {{ order.id }}</h2>
      <div class="alert alert-warning">Payment in processing</div>
      <a href="{{ full_url_for('order.list') }}" class="btn btn-primary">Go to Orders page</a>
    </div>
  </div>
</main>
{% endblock %}