{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>Order #{{ order.id }} info</h2>
    </div>
  </div>
</main>
{% endblock %}