{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          {% if auth_price %}
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">Cтоимость отчета для вас: {{ auth_price }}</p>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">Доступно бесплатных отчетов: {{ auth_quota }}</p>
              </div>
            </div>
          {% endif %}

          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Заказать отчет</p>
              <form method="POST" action="{{ full_url_for('order.create') }}">
                <div class="form-group">
                  <label for="inputVin">VIN</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="inputVin" name="vin" placeholder="VIN" value="{{ vin }}">
                    <div class="input-group-append">
                      {% if auth_quota %}
                        <button type="submit" class="btn btn-success">Получить бесплатно</button>
                      {% else %}
                        <button type="submit" class="btn btn-primary">Купить</button>
                      {% endif %}
                    </div>
                  </div>
                  {% if error.vin %}
                    <div class="text-danger">
                      {{ error.vin }}
                    </div>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Список заказов (Всего {{ total }})</h2>
      <div class="row justify-content-center">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td>#</td>
                <td>Статус</td>
                <td>Сумма</td>
                <td>Заказал</td>
                <td>VIN</td>
                <td>Дата создания</td>
                <td></td>
              </tr>
            <tr>
              <td>
                <input type="number" class="form-control" name="searchId" id="searchId" value="{{ searchId }}">
              </td>
              <td>
                <select name="searchStatus" id="searchStatus" class="form-control">
                  <option value="">Выберите статус</option>
                  <option value="1" {% if searchStatus == '1' %} selected {% endif %}>Ожидание оплаты</option>
                  <option value="2" {% if searchStatus == '2' %} selected {% endif %}>В обработке</option>
                  <option value="3" {% if searchStatus == '3' %} selected {% endif %}>Успешно</option>
                  <option value="4" {% if searchStatus == '4' %} selected {% endif %}>Отменено</option>
                </select>
              </td>
              <td>
                <input type="number" class="form-control" name="searchSum" id="searchSum" value="{{ searchSum }}">
              </td>
              <td>
                <input type="text" class="form-control" name="searchName" id="searchName" value="{{ searchName }}">
              </td>
              <td>
                <input type="text" class="form-control" name="searchVin" id="searchVin" value="{{ searchVin }}">
              </td>
              <td>
                <input type="date" class="form-control" name="searchDate" id="searchDate" value="{{ searchDate }}">
              </td>
              <td>
                <button class="btn btn-success" data-title="Искать" id="order-search"><i class="fa fa-search" aria-hidden="true"></i></button>
              </td>
            </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>{{ order.id }}</td>
                <td>
                  {% if order.status_id == 3 %}
                  <span class="badge badge-pill badge-success">{{ order.status }}</span>
                  {% elseif order.status_id == 1 %}
                  <span class="badge badge-pill badge-warning">{{ order.status }}</span>
                  {% elseif order.status_id == 2 %}
                  <span class="badge badge-pill badge-info">{{ order.status }}</span>
                  {% elseif order.status_id == 4 %}
                  <span class="badge badge-pill badge-danger">{{ order.status }}</span>
                  {% else %}
                  <span class="badge badge-pill badge-secondary">Неизвестно</span>
                  {% endif %}
                </td>
                <td>{{ order.total ? order.total : '' }}</td>
                <td>{{ order.user ? order.user.name : '' }}</td>
                <td>
                  {% if order.vin %}
                  {{ order.vin ? order.vin.text : '' }}
                  {% if order.vin.status == 2 %}
                  <p class="text-danger">Request with error</p>
                  {% endif %}
                  {% endif %}
                </td>
                <td>{{ order.created_at }}</td>
                <td class="text-right">
                  {% if order.status_id == 1 %}
                  {% if order.user.id == auth_id %}
                  <a class="btn btn-warning" href="{{ full_url_for('order.payment', {'id':order.id}) }}"><i class="fa fa-credit-card" aria-hidden="true"></i> Оплатить</a>
                  {% endif %}
                  {% if is_admin %}
                  <a class="btn btn-success" href="{{ full_url_for('order.confirm', {'id':order.id}) }}"><i class="fa fa-check" aria-hidden="true"></i> Одобрить</a>
                  <a class="btn btn-danger" href="{{ full_url_for('order.decline', {'id':order.id}) }}"><i class="fa fa-gavel" aria-hidden="true"></i> Отклонить</a>
                  {% endif %}
                  {% elseif order.status_id == 2 %}
                  <a class="btn btn-success disabled"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Скачать</a>
                  {% elseif order.status_id == 3 %}
                  <a class="btn btn-success" href="{{ full_url_for('order.download', {'id':order.id}) }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Скачать</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ orders.links | raw }}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}