{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">На балансе {{ name }}: {{ balance }} грн</p>
              <form class="card p-2" action="{{ full_url_for('transaction.create') }}" method="POST">
                <input type="hidden" name="value" value="{{ value }}">
                <input type="hidden" name="order_id" value="{{ order_id }}">
                <button type="submit" class="btn btn-success btn-block">Пополнить на {{ value }} грн</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}