{% extends "layout.twig" %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="h3 mb-3 font-weight-normal mt-5">{% block pageTitle %}{% endblock %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="POST" action="{{ current_path() }}">
                        <div class="form-group">
                            <label for="inputTitle" class="sr-only">Заголовок</label>
                            <input type="text" id="inputTitle" class="form-control" placeholder="Название" name="title" value="{{ title }}">
                            {% if error.title %}
                                <div class="text-danger">
                                    {{ error.title }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="inputContent" class="sr-only">Контент</label>
                            <textarea name="content" class="form-control" id="inputContent">{{ content }}</textarea>
                            {% if error.content %}
                                <div class="text-danger">
                                    {{ error.content }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="inputSeoTitle" class="sr-only">SEO-Заголовок</label>
                            <input type="text" id="inputSeoTitle" class="form-control" placeholder="SEO-Заголовок" name="seo_title" value="{{ seo_title }}">
                            {% if error.seo_title %}
                                <div class="text-danger">
                                    {{ error.seo_title }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="inputSeoDescription" class="sr-only">SEO-Описание</label>
                            <input type="text" id="inputSeoDescription" class="form-control" placeholder="SEO-Описание" name="seo_description" value="{{ seo_description }}">
                            {% if error.seo_description %}
                                <div class="text-danger">
                                    {{ error.seo_description }}
                                </div>
                            {% endif %}
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="//cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'content' );
    </script>
{% endblock %}