{% extends "layout.twig" %}

{% block body %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <h2>Список страниц</h2>
      <div class="row justify-content-center">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td>#</td>
                <td>Название</td>
                <td>URI</td>
                <td>SEO заголовок</td>
                <td>SEO описание</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for page in pages %}
              <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td><a href="/{{ page.slug }}" target="_blank">{{ base_url() }}/{{ page.slug }}</a></td>
                <td>{{ page.seo_title }}</td>
                <td>{{ page.seo_description }}</td>
                <td class="text-right">
                  <a class="btn btn-primary" href="{{ full_url_for('page.edit', {'id':page.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ group.links | raw }}
        </div>
        <a class="btn btn-success btn-block" href="{{ full_url_for('page.add') }}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}