{% extends "layout.twig" %}

{% block title %}get vin | {{ page.seo_title }}{% endblock %}

{% block body %}
    <main class="justify-content-center">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="col-sm-12">
                    {{ html_entity_decode(page.content) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}